<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>

<body>
        <main>
            <ul class="cart__item-list">
                <% products.forEach(p=>{ %>
                    <li class="cart__item">
                    <h1><%= p.productId.title %></h1>
                     <h2>Qty:<%= p.quantity %></h2>
                    </li>
                <% }) %>
            </ul>
            <div class="centered">
                <h2>Total: <%= totalSum %></h2>
            </div>
        </main>

    <%- include('../includes/footer.ejs') %>